// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// .new-image img {
//   border-radius: 40px 0 40px 0;
// }

// .top-image{
//   background-color: whitesmoke;
// }

// .image-text{
//   font-size: 20px;
//   font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
//   background-color: whitesmoke;
// }


