<h1>顧客側トップページ　１P</h1>
<div class="top-main py-4">
  <h1 class= "top-text">WELCOME</h1>
  　<p class= "top-text">ーようこそ、ながのCAKEへ</p>
    <p class= "top-text">
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>
</div>

<div class= "top-boxes">
<h3><strong>新着商品</strong></h3>
<%= link_to " VIEW MORE ▶", items_path ,class: "btn btn-outline-secondary" %>
</div>