<div class='container'>
  <div class='row'>
    <div class="col">
      <h1>ジャンル編集画面　7P</h1>
    </div>
  </div>
  <div class='row'>
    <div class="col">
      <%= form_with model: @genre, url: admin_genre_path(@genre), local: true do |f| %>
        <table>
          <tbody>
            <tr>
              <td>
                <label>ジャンル名</label>
              </td>
              <td>
                <%= f.text_field :name%>
              </td>
              <td>
                <%= f.submit '変更を保存' %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>