<h1>管理者トップページ(注文履歴一覧)　11P</h1>
<p>過去の注文履歴を一覧で確認することができる</p>

<div>
  <h3>注文履歴一覧</h3>
  <table>
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
      <tr>
        <td>｜2024/11/23 07:28:00</td>
        <td>もちかわもちこ</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  ページネーション
  <%= paginate @orders %>
</div>