/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .wf-mplus1p { font-family: "M PLUS 1p"; }

header {
  overflow: hidden; /* 基本の高さを設定 */
  padding: 20px 0; /* 上下に20pxの余白を追加 */
}


.logo a,
.wf-mplus1p a {
  /*font-family: 'Comic Sans MS', cursive; */
  font-size: 36px; /* フォントサイズの設定 */
  color: #fff; /* 文字色の設定（白色） */
  text-align: center; /* 中央揃え */
  background-color: dimgray; /* 背景色の設定（ダークグレー） */
  padding: 15px; /* 内部余白の設定 */
  border-radius: 8px; /* 角の丸みの設定 */
  display: inline-block; /* インラインブロックにすることで中央揃えが効く */
  border: 2px solid #fff;
}

.nav-link {
  color: white;
  font-size: 20px
}

